# Laboratorio 2
Diego Álvarez ; Alejandra Gudiel ; Martín España ; Laura Tamath

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import matplotlib
%matplotlib inline

from quickda.explore_data import *
from quickda.explore_numeric import *
from quickda.explore_categoric import *
from quickda.explore_numeric_categoric import *
from quickda.clean_data import *
from quickda.explore_time_series import *

# pip install quickda
# Si les da error diciendo de que el longPath está deshabilitado
# yo usé este link https://robocorp.com/docs/troubleshooting/windows-long-path para resolverlo

In [14]:
data = pd.read_csv('../data/GlobalLandTemperaturesByCountry.csv', encoding = "latin1")
data.head(10)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294  Ã
land
1  1743-12-01                 NaN                            NaN  Ã
land
2  1744-01-01                 NaN                            NaN  Ã
land
3  1744-02-01                 NaN                            NaN  Ã
land
4  1744-03-01                 NaN                            NaN  Ã
land
5  1744-04-01               1.530                          4.680  Ã
land
6  1744-05-01               6.702                          1.789  Ã
land
7  1744-06-01              11.609                          1.577  Ã
land
8  1744-07-01              15.342                          1.410  Ã
land
9  1744-08-01                 NaN                            NaN  Ã
land

### Analisis Exploratorio

In [19]:
# Genera un resumen de estadísticas del conjunto de datoss
profile = ProfileReport(data, title = "Temperature data report")
cleanData = data['AverageTemperature'].dropna(how='any')

profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]