# Laboratorio 2
Diego Álvarez ; Alejandra Gudiel ; Martín España ; Laura Tamath

In [3]:
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from quickda.explore_data import *
from quickda.explore_numeric import *
from quickda.explore_categoric import *
from quickda.explore_numeric_categoric import *
from quickda.clean_data import *
from quickda.explore_time_series import *

# pip install quickda
# Si les da error diciendo de que el longPath está deshabilitado
# yo usé este link https://robocorp.com/docs/troubleshooting/windows-long-path para resolverlo

In [5]:
data = pd.read_csv('../data/GlobalLandTemperaturesByCountry.csv', encoding = "latin1")
data.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294  Ã
land
1  1743-12-01                 NaN                            NaN  Ã
land
2  1744-01-01                 NaN                            NaN  Ã
land
3  1744-02-01                 NaN                            NaN  Ã
land
4  1744-03-01                 NaN                            NaN  Ã
land

### Analisis Exploratorio

In [7]:
explore(data)

,dtypes,count,null_sum,null_pct,nunique,min,25%,50%,75%,max,mean,median,std,skew
AverageTemperature,float64,544811,32651,0.057,71085,-37.658,10.025,20.901,25.814,38.842,17.193354,20.901,10.953966,-1.114297
AverageTemperatureUncertainty,float64,545550,31912,0.055,8979,0.052,0.323,0.571,1.206,15.003,1.019057,0.571,1.20193,3.142598
Country,object,577462,0,0.000,243,Afghanistan,-,-,-,Ã land,-,-,-,-
dt,object,577462,0,0.000,3239,1743-11-01,-,-,-,2013-09-01,-,-,-,-